<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>prototype | home</title>
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
  <div class="container-home">
    <header class="header-home">
      <h1>Portfolio</h1>
    </header>
    <nav id="nav-primary" class="nav-home">
      <ul>
        <li><a href="./about.html">about</a></li>
        <li><a href="./work.html">work</a></li>
      </ul>
    </nav>
    <main class="main-home">
      <h1>Home</h1>
    </main>
    <footer class="footer-home">
      <ul>
        <li>&copy; Brian Moneypenny</li>
        <li><a href="./contact.html">contact</a></li>
        <li><a href="./terms.hmtl">terms of use</a></li>
      </ul>
    </footer>
  </div>
</body>
</html>